@font-face {
    font-family: "sinistre";
    src: url('./fonts/Sinistre-StCaroline.woff2') format('woff2'), url('./fonts/Sinistre-StCaroline.woff') format('woff');
}

/* @font-face {
    font-family: "cirrus-cumulus";
    src: url('./fonts/CirrusCumulus.woff') format('woff');
} */

body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25em;
    color: #370000;
    cursor: url("../images/gifcities/star4.gif");
}

h1,
h2,
h3 {
    font-family: "sinistre";
    margin-bottom: 0.7em;
}

h4 {
    color: #37000079;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #38008d;

}

.avatar {
    height: 143px;
    object-fit: cover;
    border: 1px solid blue;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 2em;
}

p,
ul {
    margin-bottom: 0.7em;
    margin-left: 0.6em;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
}

.experiences {
    column-count: 2;
    column-gap: 2em;
    margin-bottom: 1.3em;
}




.contacts h3,
.contacts p {
    padding: 0;
    margin: 0;
}



.contacts h3 {
    margin-bottom: 1em;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.flexbox>div {
    width: calc(50% - 1em);
}

.container {
    margin: 1em 20%;
    background-color: white;
    padding: 2em;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.144);
}

button {
    position: absolute;
    bottom: 0;
    right: 0;
}


@media screen and (max-width: 900px) {

    .avatar {
        height: 6em;
        position: fixed;
        right: 0;
        top: 0;
    }

    .experiences {
        column-count: 1;
        column-gap: 2em;
        margin-bottom: 1.3em;
    }

    .container {

        margin: 0;
        padding: 1em;
        border: 0px;
        box-shadow: inherit;
    }

    .flexbox {
        display: block;
    }

    .flexbox>div {
        width: 100%;
    }

    .education {
        margin-bottom: 2em;
    }

    button {
        position: fixed;
        margin: 20px;
    }

}

@media print {
    body {
        color: black;
    }

    a {
        color: black;
    }

    h4 {
        color: rgb(99, 99, 99);
    }

    .container {

        margin: 0;
        padding: 0;
        padding-top: 1px;
        border: 0px;
        box-shadow: inherit;
    }

    button {
        display: none;
    }

}